<view class="container">
  <view class='header'>
    <view>时间</view>
    <view>提现金额</view>
    <view>状态</view>
  </view>
  <view class='content'>
    <scroll-view scroll-y bindscrolltolower="loadMore" style='width: 100%;height:100%;'>
      <block wx:for="{{withdrawhistory}}">
        <view class='list' bindtap='toDetail' data-item="{{item}}">
          <text>{{item.createDate}}</text>
          <text>{{item.chargeVal/100}}</text>
          <text>{{item.chargeStatusCN}}</text>
        </view>
      </block>
    </scroll-view>
  </view>
</view>