<!--pages/priceSetting/freeMem/freeMem.wxml-->
<view class='container'>
  <view class='header'>
    <image src='/image/icon/icon_weizhe@2x.png'></image>
    <view>{{cabInfo.cabName}}</view>
  </view>
  <view class='mem-input'>
    <text>快递员账号：</text>
    <input bindinput='memChange' value='{{memPhone}}'></input>
  </view>
  <view class='search-btns'>
    <button bindtap='reset'>清空</button>
    <button bindtap='memSearch'>查询</button>
  </view>
  <view class='cut-line'>
    <view></view>
    <text>快递员信息</text>
    <view></view>
  </view>
  <view class='info'>
    <view class='mem-info'>
      <view class='icon'></view>
      <text>公司：</text>
      <text>{{meminfo.comName}}</text>
    </view>
    <view class='mem-info'>
      <view class='icon'></view>
      <text>姓名：</text>
      <text>{{meminfo.nickname}}</text>
    </view>
    <view class='mem-info'>
      <view class='icon'></view>
      <text>快递员账号：</text>
      <text>{{meminfo.phone}}</text>
    </view>
    <view class='mem-info'>
      <view class='icon'></view>
      <text>身份证号：</text>
      <text>{{meminfo.identityNo || '--'}}</text>
    </view>
  </view>
  <view class='free-btns'>
    <button bindtap='cancleFree'>取消免费</button>
    <button bindtap='setFree'>设置免费</button>
  </view>

  <!-- <text>注：快递员投递时仍需支付短信通道费</text> -->
</view>