<view class="item-box">
    <view class="items">
        <view wx:for="{{list}}" wx:key="{{index}}" class="item">
            <view bindtouchstart="touchS" bindtouchmove="touchM" bindtouchend="touchE" data-index="{{index}}" style="{{item.txtStyle}}" class="inner txt">{{index+1}}.{{item.txt}}</view>
            <view data-index="{{index}}" bindtap= "delItem" class="inner del">删除</view>
        </view>
    </view>
</view>

