<view class='container'>
  <view class='operates'>
    <view class='header'>
      <image src='/image/icon/icon_weizhe@2x.png'></image>
      <view>{{cabInfo.cabName}}</view>
    </view>
    <view class='select-time'>
      <text>逾期时限：</text>
      <picker bindchange="timePickerChange" value="{{timeLimit}}" range="{{forTime}}">
      <view class='timeBox'>
        <view>
          <text>{{timeLimit}}</text>
        </view>
        <image src='/image/selectIcon.png'></image>
      </view>
      </picker>
    </view>
    <view class='select-control'>
      <text>逾期控制：</text>
      <picker bindchange="conbindPickerChange" value="{{overdueControl}}" range="{{selectControl}}">
      <view class='overdue-control'>
        <view>
          <text>{{overdueControl ? overdueControl : '请选择'}}</text>
        </view>
        <image src='/image/selectIcon.png'></image>
      </view>
      </picker>
    </view>
  </view>
  <view class='btns'>
    <button>取消</button>
    <button bindtap='sureSet'>确定</button>
  </view>
</view>
