/* pages/chestManage/chestManage.wxss */

page {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding-top: 20rpx;
  box-sizing: border-box;
}

.bigBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigBox .myChest {
  width: 720rpx;
  background: rgba(255, 255, 255, 1);
  border-radius: 10rpx;
  box-shadow: 0rpx 0rpx 5rpx rgba(0, 0, 0, 0.06);
  padding: 32rpx 75rpx 32rpx 27rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rpx;
  overflow: hidden;
}

.bigBox .myChest .rightImg {
  width: 50rpx;
  height: 50rpx;
}

.bigBox .myChest .left {
  width: 600rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.bigBox .myChest .left .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32rpx;
  font-family: PingFangSC;
  color: rgba(71, 71, 71, 1);
  line-height: 32rpx;
  margin-bottom: 30rpx;
  overflow: hidden;
}

.bigBox .myChest .left .top view {
  width: 500rpx;
  overflow: hidden;
}

.bigBox .myChest .left .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 26rpx;
  line-height: 30rpx;
  font-family: PingFang-SC-thin;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  overflow: hidden;
}

.bigBox .myChest .left .bottom view {
  width: 500rpx;
  overflow: hidden;
}

.bigBox .myChest .left .top image {
  width: 43rpx;
  height: 43rpx;
  margin-right: 25rpx;
}

.bigBox .myChest .left .bottom image {
  width: 38rpx;
  height: 42rpx;
  margin-right: 28rpx;
}

.mengban {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
  left: 0;
  top: 0;
}

.modModel {
  width: 600rpx;
  height: 466rpx;
  background: rgba(255, 255, 255, 1);
  border-radius: 10rpx;
  position: fixed;
  top: 200rpx;
  left: 75rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37rpx;
  box-sizing: border-box;
  z-index: 11;
}

.modModel text {
  font-size: 32rpx;
  font-family: PingFangSC;
  color: rgba(252, 120, 14, 1);
  margin-bottom: 37rpx;
}

.modModel .inputBox {
  width: 473rpx;
  height: 80rpx;
  border: 1rpx solid rgba(252, 120, 14, 1);
  border-radius: 5rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30rpx;
}

.modModel .inputBox image {
  width: 42rpx;
  height: 42rpx;
  margin-right: 20rpx;
  margin-left: 8rpx;
}

.modModel .inputBox input {
  width: 380rpx;
  height: 50rpx;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333;
  line-height: 50rpx;
}

.modModel .btns {
  width: 100%;
  height: 104rpx;
  border-top: 1px solid #d4d4d4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
  display: flex;
  flex-direction: row;
}

.modModel .btns view {
  width: 50%;
  height: 100%;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  border-right: 1px solid #d4d4d4;
  box-sizing: border-box;
  text-align: center;
  line-height: 104rpx;
}

.modModel .btns button {
  width: 50%;
  height: 100%;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  line-height: 104rpx;
  color: #FC780E;
  background-color: #fff;
  border: none;
}

.noData {
  width: 100%;
  height: 50rpx;
  margin-top: 400rpx;
  text-align: center;
  line-height: 50rpx;
  font-size: 30rpx;
  color: #999;
} 


