/* pages/home/home.wxss */

page {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.header {
  width: 100%;
  height: 100rpx;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 5rpx 50rpx 5rpx 150rpx; */
  box-sizing: border-box;
  font-size: 28rpx;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.noChest {
  width: 200rpx;
  height: 35rpx;
  font-size: 35rpx;
  color: #999;
  text-align: center;
  line-height: 35rpx;
  margin-top: 300rpx;
  position: fixed;
  left: 275rpx;
  top: 200rpx;
  
}

.header .text1 {
  width: 30rpx;
  margin-right: 55rpx;
}

.header .text2 {
  width: 120rpx;
}

.header .selectBox {
  position: relative;
  width: 320rpx;
  height: 70rpx;
  border: 1rpx solid #f2f2f2;
  border-radius: 20rpx;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-left: 25rpx;
}

.header .selectBox text {
  width: 250rpx;
  padding: 0 10rpx;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.header .selectBox .shuxian {
  width: 1rpx;
  height: 36rpx;
  background-color: #dbdbdb;
}

.header .selectBox image {
  width: 20rpx;
  height: 12rpx;
  margin-left: 24rpx;
}

.header .selectBox .dropDown {
  transition: all 0.2s ease 0s;
  width: 320rpx;
  position: absolute;
  top: 67rpx;
  left: 0;
  border: 1rpx solid #dbdbdb;
  border-radius: 20rpx;
  background-color: #f2f2f2;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
  
}

.header .selectBox .dropDown .list {
  width: 100%;
  height: 70rpx;
  border: none;
  border-bottom: 1rpx solid #dbdbdb;
  text-align: center;
  line-height: 70rpx;
  overflow: hidden;
  padding: 0 80rpx 0 20rpx;

  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .selectBox .dropUp {
  transition: all 0.2s ease 0s;
  width: 320rpx;
  height: 0rpx;
  position: absolute;
  top: 67rpx;
  left: 0;
  border:none;
  border-radius: 20rpx;
  background-color: #f2f2f2;
  z-index: 10;
  overflow: hidden;
}

swiper {
  width: 100%;
  height: 100%;
}

swiper swiper-item {
  padding: 130rpx 85rpx 76rpx 85rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.rightBtn {
  position: fixed;
  width: 60rpx;
  height: 60rpx;
  top: 500rpx;
  right: 13rpx;
  font-size: 35rpx;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 60rpx;
  background-color: #cdcdcd;
  border-radius: 50%;
}

.rightBtn view {
  width: 25rpx;
  height: 25rpx;
  margin-left: 10rpx;
  margin-top: 17rpx;
  border-top: 4rpx solid #fff;
  border-right: 4rpx solid #fff;
  transform: rotate(45deg);
}

.leftBtn {
  position: fixed;
  width: 60rpx;
  height: 60rpx;
  top: 500rpx;
  left: 13rpx;
  font-size: 35rpx;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 60rpx;
  background-color: #cdcdcd;
  border-radius: 50%;
}

.leftBtn view {
  width: 25rpx;
  height: 25rpx;
  margin-left: 20rpx;
  margin-top: 17rpx;
  border-top: 4rpx solid #fff;
  border-left: 4rpx solid #fff;
  transform: rotate(-45deg);
}

swiper .rowBox {
  width: 255rpx;
}

/* list: 空；
  full:满；
  lock：锁；
  repair：维护
 */

/* list: 空； */

swiper .rowBox .list {
  width: 255rpx;
  height: 70rpx;
  margin-bottom: 10rpx;
  background-color: #30c13a;
  border-radius: 5rpx;
  position: relative;
  padding: 10rpx 102rpx;
  box-sizing: border-box;
}

/* full:满； */

swiper .rowBox .full {
  width: 255rpx;
  height: 70rpx;
  margin-bottom: 10rpx;
  background-color: #fe8d01;
  border-radius: 5rpx;
  position: relative;
  padding: 10rpx 102rpx;
  box-sizing: border-box;
}

/* lock：锁； */

swiper .rowBox .lock {
  width: 255rpx;
  height: 70rpx;
  margin-bottom: 10rpx;
  background-color: rgba(170, 216, 255, 0.5);
  border-radius: 5rpx;
  position: relative;
  padding: 17rpx 106rpx;
  box-sizing: border-box;
}

/* repair：维护 */

swiper .rowBox .repair {
  width: 255rpx;
  height: 70rpx;
  margin-bottom: 10rpx;
  background-color: rgba(141, 215, 209, 0.5);
  border-radius: 5rpx;
  position: relative;
  padding: 15rpx 100rpx;
  box-sizing: border-box;
}

swiper .rowBox .number {
  position: absolute;
  left: 5rpx;
  top: 5rpx;
  width: 34rpx;
  height: 34rpx;
  font-size: 24rpx;
  text-align: center;
  line-height: 34rpx;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-weight: normal;
}

swiper .rowBox .list .text {
  width: 50rpx;
  height: 50rpx;
  background-color: #fff;
  font-size: 28rpx;
  color: #30c13a;
  text-align: center;
  line-height: 50rpx;
  border-radius: 50%;
}

swiper .rowBox .full .text {
  width: 50rpx;
  height: 50rpx;
  background-color: #b16201;
  font-size: 28rpx;
  color: #fff;
  text-align: center;
  line-height: 50rpx;
  border-radius: 50%;
}

swiper .rowBox .lock image {
  width: 28rpx;
  height: 36rpx;
}

swiper .rowBox .repair image {
  width: 40rpx;
  height: 40rpx;
}

swiper .rowBox .list image {
  width: 0;
  height: 0;
  overflow: hidden;
}
