<!--pages/preview/preview.wxml-->
<view class='container'>
  <view class='header'>
    <image src='/image/icon/icon_weizhe@2x.png'></image>
    <view class='cab-name'>{{cabInfo.cabName}}</view>
  </view>
  <view class='preview' bindtap='openTap' style="height: {{cabPreview.length > 4 ? 300/(cabPreview.length/4) + 'rpx': ''}};">
    <block wx:for="{{cabPreview}}">
      <view class='cabinet' style='width: {{25/(cabPreview.length/4)}}%; max-width:25%;'>
        <view class='header' style="font-size:{{cabPreview.length/4 >= 2 ? '6rpx;' : '8rpx;'}}">{{index + 1}}号柜</view>
        <view class='header'>
          <view style="font-size:{{cabPreview.length/4 >= 2 ? '6rpx;' : '8rpx;'}}">第{{index*2+1}}列</view>
          <view style="font-size:{{cabPreview.length/4 >= 2 ? '6rpx;' : '8rpx;'}}">第{{index*2+2}}列</view>
        </view>
        <view class='one-cabinet'>
          <view class='col'>
            <block wx:for="{{item[0]}}">
              <view class='row' style="font-size:{{cabPreview.length/4 >= 2 ? '6rpx;' : '8rpx;'}}height:{{item.type === '1' ? '11.7647059%;' : item.type === '2' ? '17.6470588%;' : item.type === '9' ? '17.6470588%;' : ';'}}background-color:{{item.status === 'used' ? '#3D7AC8;' : item.status === 'locked' ? '#EF5D0F;' : item.status === 'broken' ? '#6E1A9A;' : ';'}}color:{{item.status === 'used' ? '#fff;' : item.status === 'locked' ? '#fff;' : item.status === 'broken' ? '#fff' : ';'}}">
                {{item.type != '9' ? index + 1 : ''}}
                <view style='font-size:6rpx;' wx:if="{{item.type === '9'}}" class='screen'>
                    屏幕
                  </view>
              </view>
            </block>
          </view>
          <view class='col'>
            <block wx:for="{{item[1]}}">
              <view class='row' style="font-size:{{cabPreview.length/4 >= 2 ? '6rpx;' : '8rpx;'}}height:{{item.type === '1' ? '11.7647059%;' : item.type === '2' ? '17.6470588%;' : item.type === '9' ? '17.6470588%;' : ';'}}background-color:{{item.status === 'used' ? '#3D7AC8;' : item.status === 'locked' ? '#EF5D0F;' : item.status === 'broken' ? '#6E1A9A;' : ';'}}color:{{item.status === 'used' ? '#fff' : item.status === 'locked' ? '#fff;' : item.status === 'broken' ? '#fff;' : ';'}}">{{item.type != '9' ? index + 1 : ''}}
                <view style='font-size:6rpx;' wx:if="{{item.type === '9'}}" class='screen'>
                    屏幕
                  </view>
              </view>
            </block>
          </view>
        </view>
      </view>
    </block>
  </view>
  <view class='tip'>
    <view class='tip-one'>
      <view class='icon1'></view>
      <text>已占用</text>
      <text>{{amount.used}}/{{amount.total}}</text>
    </view>
    <view class='tip-one'>
      <view class='icon2'></view>
      <text>未占用</text>
      <text>{{amount.free}}/{{amount.total}}</text>
    </view>
    <view class='tip-one'>
      <view class='icon3'></view>
      <text>已锁定</text>
      <text>{{amount.lock}}/{{amount.total}}</text>
    </view>
    <view class='tip-one'>
      <view class='icon4'></view>
      <text>异常</text>
      <text>{{amount.broken}}/{{amount.total}}</text>
    </view>
  </view>
  <view class='inputBox'>
    <!-- <input placeholder='请输入格口编号' bindinput='codeChange'></input>
    <text>或</text> -->
    <input placeholder='列' bindinput='colChange'></input>
    <text>+</text>
    <input placeholder='号' bindinput='rowChange'></input>
  </view>
  <button bindtap='search'>查询</button>

  <!-- 柜机预览轮播图 -->
  <view hidden='{{!showPreview}}' class='background'>
    <image src='/image/icon_close@2x.png' class='close' bindtap='closeTap'></image>
    <swiper>
      <block wx:for="{{cabPreview}}">
        <swiper-item>
          <view class='cabinet'>
            <view class='header'>{{index + 1}}号柜</view>
            <view class='header'>
              <view>第{{index*2+1}}列</view>
              <view>第{{index*2+2}}列</view>
            </view>
            <view class='one-cabinet'>
              <view class='col'>
                <block wx:for="{{item[0]}}">
                  <view class='row' style="height:{{item.type === '1' ? '11.7647059%;' : item.type === '2' ? '17.6470588%;' : item.type === '9' ? '17.6470588%;' : ';'}}background-color:{{item.status === 'used' ? '#3D7AC8;' : item.status === 'locked' ? '#EF5D0F;' : item.status === 'broken' ? '#6E1A9A;' : ';'}}color:{{item.status === 'used' ? '#fff;' : item.status === 'locked' ? '#fff;' : item.status === 'broken' ? '#fff;' :  ';'}}" bindtap='toDetail' data-boxcode="{{item.boxCode}}">
                    {{item.type != '9' ? index + 1 : ''}}
                    <view wx:if="{{item.type === '9'}}" class='screen'>
                    屏幕
                  </view>
                  </view>
                </block>
              </view>
              <view class='col'>
                <block wx:for="{{item[1]}}">
                  <view class='row' style="height:{{item.type === '1' ? '11.7647059%;' : item.type === '2' ? '17.6470588%;' : item.type === '9' ? '17.6470588%;' : ';'}}background-color:{{item.status === 'used' ? '#3D7AC8;' : item.status === 'locked' ? '#EF5D0F;' : item.status === 'broken' ? '#6E1A9A;' : ';'}}color:{{item.status === 'used' ? '#fff;' : item.status === 'locked' ? '#fff;' : item.status === 'broken' ? '#fff;' :  ';'}}" bindtap='toDetail' data-boxcode="{{item.boxCode}}" bindtap='toDetail' data-boxcode="{{item.boxCode}}">{{item.type != '9' ? index + 1 : ''}}
                  <view wx:if="{{item.type === '9'}}" class='screen'>
                    屏幕
                  </view>
                  </view>
                </block>
              </view>
            </view>
          </view>
        </swiper-item>
      </block>
    </swiper>
  </view>
</view>