/* pages/vallet/extract/extract.wxss */

page {
  width: 100%;
  height: 100%;
  background-color: #efeff4;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 150rpx;
  padding: 30rpx 40rpx 0 40rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 20rpx;
}

.header .card {
  width: 68rpx;
  height: 48rpx;
}

.header view {
  width: 520rpx;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-left: 40rpx;
  margin-right: 20rpx;
}

.header view text {
  margin-right: 40rpx;
}

.header .enter {
  width: 16rpx;
  height: 28rpx;
}

.inputBox {
  width: 100%;
  height: 300rpx;
  background-color: #fff;
  padding: 30rpx 40rpx 0 50rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.inputBox .first-view {
  width: 100%;
  height: 30rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.inputBox .first-view text:nth-child(2) {
  color: #286bc2;
}

.inputBox .second-view {
  width: 100%;
  height: 100rpx;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 72rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin-top: 45rpx;
}

.inputBox .second-view text {
  position: relative;
  top: -12rpx;
}

.inputBox .second-view input {
  width: 550rpx;
  height: 40rpx;
  margin-left: 25rpx;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333;
  line-height: 40rpx;
}

.inputBox > text {
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(239, 93, 15, 1);
  margin-top: 20rpx;
}

.container > button {
  width: 666rpx;
  height: 88rpx;
  background: rgba(212, 212, 212, 1);
  border-radius: 44rpx;
  font-size: 36rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 88rpx;
  margin-top: 80rpx;
}

.tip {
  width: 650rpx;
  height: 24rpx;
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(239, 93, 15, 1);
  line-height: 24rpx;
  margin-top: 64rpx;
}

.record {
  width: 100%;
  height: 100rpx;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(40, 107, 194, 1);
  font-size: 36rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 100rpx;
}

.container .pass {
  background-color: #286BC2;
  border: none;
}
