page {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 142rpx;
  box-sizing: border-box;
}

.container .header {
  width: 100%;
  height: 142rpx;
  padding: 30rpx 15rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  z-index: 10;
}

.container .header .select-view {
  width: 502rpx;
  height: 82rpx;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 10rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.container .header .select-view .input-view {
  width: 390rpx;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 18rpx;
  border-right: 1px solid #afd1fd;
  box-sizing: border-box;
}

.container .header .select-view > image {
  width: 24rpx;
  height: 15rpx;
  margin-left: 44rpx;
}

.container .header .select-view .input-view image {
  width: 30rpx;
  height: 30rpx;
  margin-right: 10rpx;
}

.container .header .select-view .input-view input {
  height: 30rpx;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333;
  line-height: 30rpx;
}

.container .header .headerBtn {
  width: 200rpx;
  height: 80rpx;
  background: rgba(40, 107, 194, 1);
  border-radius: 10rpx;
  font-size: 26rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 80rpx;
}

.container .content-list {
  width: 100%;
  height: 200rpx;
  background-color: #fff;
  padding: 0 30rpx;
  box-sizing: border-box;
  margin-bottom: 20rpx;
  border-bottom: 1px solid #e5e5e5;
}

.container .content-list .first-list {
  width: 100%;
  height: 98rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .content-list .first-list image {
  width: 42rpx;
  height: 42rpx;
  margin-right: 15rpx;
}

.container .content-list .first-list view {
  width: 600rpx;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 45rpx;
}

.container .content-list .second-list {
  width: 100%;
  height: 80rpx;
  padding-left: 54rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .content-list .second-list .show-data {
  width: 430rpx;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .content-list .second-list .show-data text {
  margin-right: 50rpx;
  margin-bottom: 20rpx;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(138, 138, 138, 1);
  line-height: 28rpx;
}

.container .content-list .second-list .show-data text:nth-child(2) {
  margin-right: 0;
}

.container .content-list .second-list button {
  width: 120rpx;
  height: 60rpx;
  background: rgba(40, 107, 194, 1);
  border-radius: 6rpx;
  padding: 0;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 60rpx;
  margin: 0;
}

.select-data {
  width: 502rpx;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 10rpx;
  position: absolute;
  left: 15rpx;
  top: 111rpx;
  box-sizing: border-box;
  z-index: 10;
}

.select-data view {
  width: 100%;
  height: 82rpx;
  padding: 0 15rpx;
  border-bottom: 1px solid rgba(175, 209, 253, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333;
  line-height: 40rpx;
}

.select-data view:last-child {
  border-bottom: none;
}
