/* pages/vallet/extractDetail/detail.wxss */

page {
  width: 100%;
  height: 100%;
  background-color: #efeff4;
}

.container {
  width: 100%;
}

.account {
  width: 100%;
  height: 220rpx;
  padding-top: 60rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 72rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.account text:nth-child(2) {
  font-size: 48rpx;
  margin-left: 10rpx;
}

.schedule {
  width: 100%;
  height: 300rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.schedule .left {
  width: 200rpx;
  height: 100%;
  padding-top: 46rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.schedule .left .icon {
  width: 36rpx;
  height: 36rpx;
  background: rgba(212, 212, 212, 1);
  border-radius: 50%;
  margin-bottom: 8rpx;
}

.schedule .left .line {
  width: 4rpx;
  height: 100rpx;
  background: rgba(212, 212, 212, 1);
  margin-right: 16rpx;
  margin-bottom: 8rpx;
}

.schedule .left .icon2 {
  width: 36rpx;
  height: 36rpx;
  background: rgba(40, 107, 194, 1);
  border-radius: 50%;
  margin-bottom: 8rpx;
}

.schedule .info {
  width: 500rpx;
  height: 100%;
}

.schedule .info .list {
  width: 100%;
  height: 150rpx;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schedule .info .list text:nth-child(1) {
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 10rpx;
}

.schedule .info .list text:nth-child(2) {
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
