<view class="bigBox">
  <view class="timeBar">
    <picker mode="date" fields="year" value="{{date}}" start="2015" end="2018" bindchange="bindDateChange">
      <view class="barList">
        <view class="picker">{{year}}</view>
        <text>年</text>
        <image src='/image/icon/xiala.png'></image>
      </view>
    </picker>
    <picker mode="selector" range="{{monthList}}" value="{{month-1}}" bindchange="selectMonth">
      <view class="barList">
        <view class="picker">{{month}}</view>
        <text>月</text>
        <image src='/image/icon/xiala.png'></image>
      </view>
    </picker>
    <picker mode="selector" range="{{dayList}}" value="{{day-1}}" bindchange="selectDay">
      <view class="barList">
        <view style='width:50rpx;text-align:center;margin-right:10rpx;' class="picker">{{day}}</view>
        <text>日</text>
        <image src='/image/icon/xiala.png'></image>
      </view>
    </picker>
  </view>
  <view class="header-title">
    <view>投件时间</view>
    <view>投递类型</view>
    <view>投递收入</view>
    <view>快件状态</view>
    <view>结算状态</view>
  </view>
  <scroll-view scroll-y="true" style='width:100%;height:100%' scroll-top="{{toTop}}" scroll-into-view="{{scrollId}}" enable-back-to-top="true" scroll-with-animation="true" bindscrolltolower="loadMore">
  <view wx:if="{{!record[0]}}" class='noData'>暂无记录</view>
    <view class="allList">
      <block wx:for="{{record}}">
        <view class="list" bindtap='toExpressDetail' data-expressid="{{item.expressOrderId}}">
          <view>{{item.time}}</view>
          <view>{{item.deliverType}}</view>
          <view>{{item.income/100}}</view>
          <view>{{item.expressStateCN}}</view>
          <view>{{'已结算'}}</view>
        </view>
      </block>
    </view>
  </scroll-view>
  <view class='footer'>
    <text>总计：</text>
    <text>{{amount}}</text>
  </view>
</view>