/* pages/myCabinet/cabDetail/detail.wxss */

page {
  width: 100%;
  height: 100%;
  background-color: #efeff4;
}

.container {
  width: 100%;
  padding: 120rpx 0 130rpx 0;
  box-sizing: border-box;
}

.header {
  width: 750rpx;
  height: 100rpx;
  border-bottom: 1rpx solid #e5e5e5;
  padding: 0 20rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.header image {
  width: 42rpx;
  height: 42rpx;
  margin-right: 15rpx;
}

.header .cab-name {
  width: 600rpx;
  height: 100%;
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 50rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50rpx;
}

.content {
  width: 100%;
  padding-left: 30rpx;
  box-sizing: border-box;
  background-color: #fff;
}

.content .list {
  width: 100%;
  height: 95rpx;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.content .list text:last-child {
  font-size: 28rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  margin-right: 30rpx;
}

.footer {
  width: 100%;
  height: 130rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #efeff4;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.footer button {
  width: 150rpx;
  height: 80rpx;
  background: rgba(40, 107, 194, 1);
  border-radius: 6rpx;
  font-size: 30rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 80rpx;
}
