<!--pages/myCabinet/cabDetail/detail.wxml-->
<view class='container'>
  <view class='header'>
    <image src='/image/icon/icon_weizhe@2x.png'></image>
    <view class='cab-name'>{{cabDetail.cabName}}</view>
  </view>
  <view class='content'>
    <view class='list'>
      <text>开通时间</text>
      <text>{{cabDetail.createDate || '--'}}</text>
    </view>
    <!-- <view class='list'>
      <text>绑定时间</text>
      <text>{{'- -'}}</text>
    </view> -->
    <view class='list'>
      <text>网点编号</text>
      <text selectable>{{cabDetail.cabSysId||'--'}}</text>
    </view>
    <view class='list'>
      <text>主机硬件序列号</text>
      <text selectable>{{cabDetail.machineCode}}</text>
    </view>
    <view class='list'>
      <text>总格口数</text>
      <text>{{cabDetail.count}}门，大{{cabDetail.lCount}}/中{{cabDetail.mCount}}/小{{cabDetail.sCount}}</text>
    </view>
    <block wx:for="{{cabDetail.list}}">
      <view class='list'>
        <text>{{item.primary?'主柜': '副柜'}}</text>
        <text>{{item.count}}门，大{{item.lCount}}/中{{item.mCount}}/小{{item.sCount}}</text>
      </view>
    </block>
  </view>
  <view class='footer'> 
    <button bindtap='unbind' data-item="{{cabDetail}}">解除绑定</button>
  </view>
</view>
